<div class="mt-4">

  <div class="row">
    
    <div class="col-6 " >
      <div style="position: absolute; top :75px; width :80%">
        <div class="row row-slide ">
        
        
      
      </div>
      <div class="row">
       {{#each courses}}
          <div class="col-sm-8 col-lg-3 " style="margin-bottom: 32px; height :308px">
            <div class="card card-course-item" style="height :308px">
              <a href="/courses/{{this.slug}}">
                <img
                  src="{{this.image}}"
                  class="card-img-top"
                  alt="{{this.name}}"
                  style="width: 100%; height:180px"
                />
              </a>

              <div class="card-body">
                <a href="/courses/{{this.slug}}">
                  <h5 class="card-title">{{this.name}}</h5>
                </a>

                <p class="card-text line  ">{{this.description}}</p>
                
                <form class="delete-form" action="/courses/delmycourses/{{this._id}}?_method=PUT" method="POST">
                    <button type="submit"  class="btn btn-primary " >Delete MyCourse</button>
                </form>
                
                
              </div>
            </div>
          </div>
               {{/each}}
        
      </div>
      </div>

    </div>

  </div>

</div>

