<div style="left: 204px;
    top: 72px;
    flex: 0 0 auto;
    width: 80%;
    position: absolute;">
  <form name="container-form" method="POST" class="mt-4" action="/courses/handle-form-action">
  <div>
    <h3 style="margin-left: 45%; font-weight:bold;">ALL COURSES</h3>
    
    <div class="mt-4 d-flex align-items-center" style="margin-bottom: 44px;">
      <div class="form-check" style="font-size: 19px;">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkbox-all"
        />
        <label class="form-check-label" for="checkbox-all" style="width: 86px;
    margin-left: 3px;
    font-size: 19px;">
          Select All
        </label>
      </div>
      
        <select style="font-size: 15px;
    margin-left: 50px;
    margin-right: 113px;"
        class="form-select form-select-sm"
        aria-label="Default select example"
        name="action"
        required="required"
      >
        <option value="" >-- Chọn hành động --</option>
        <option value="delete">Xóa</option>
     
      </select>
      
      <button class="btn btn-primary btn-sm disabled btn-checked-all" style="width: 133px;">Thực hiện</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">STT</th>
        <th scope="col">
          Tên khóa học
          {{{  sortable 'name' _sort }}}
          </th>
        <th scope="col">VideoID</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Chỉnh sửa</th>
        <th scope="col">Xóa</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td><div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="coursesIds[]" id="flexCheckDefault"/></th>
          <td scope="row">{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td>{{this.videoID}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-light">Edit</a>
          </td>
          <td>
            <a
              href=""
              class="btn btn-light"
              data-bs-toggle="modal"
              data-bs-target="#deleteCourse"
              data-id="{{this._id}}"
            >Delete</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
            <a href="/courses/create"></a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>
<div style="float: right;margin-top: 20px;">
  <span class="oi oi-trash" style="font-size: 25px;"></span>
  <a href="/me/trash/courses" style=" color: #000;">TRASH ({{deleteCount}})</a>
</div>
</div>
{{!  }}
<form name="delete-form" method="POST"></form>
{{! confirm xóa }}
<div
  class="modal fade"
  id="deleteCourse"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học ?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button id="btn_delete" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Hủy</button>

      </div>
    </div>
  </div>
</div>
<script >
  var checkboxAll = document.getElementById('checkbox-all');
  var checkboxItems = document.querySelectorAll('input[name="coursesIds[]"]')
  var btn_checkboxAll = document.querySelector('.btn-checked-all')
  var container_form = document.forms['container-form']
  document.addEventListener("DOMContentLoaded", function(){ var courseID; var
  deleteForm = document.forms['delete-form']
  $('#deleteCourse').on('shown.bs.modal', function(e){ var btn
  =$(e.relatedTarget); courseID = btn.data('id'); })
  document.getElementById('btn_delete').addEventListener('click', function(){
  deleteForm.action ='/courses/'+courseID+'?_method=DELETE';
  deleteForm.submit(); }) })
  //checkbox onclick
  checkboxAll.onchange = function(){
     var isCheck = checkboxAll.checked;
     
     //checkbox all change
       checkboxItems.forEach( (item) => {
        item.checked = isCheck;
        renderCheckAllSubmitBtn()
       })  
  }
  // item change
       checkboxItems.forEach( (item) => {
        item.onchange = () => {
           var isCheckAll = checkboxItems.length === $('input[name="coursesIds[]"]:checked').length;
           checkboxAll.checked = isCheckAll;
           renderCheckAllSubmitBtn()
          
        }
       })
   // render UI btn
   function renderCheckAllSubmitBtn() {
      var checkedCount =$('input[name="coursesIds[]"]:checked').length;
      console.log(checkedCount)
      if(checkedCount > 0 ){
        btn_checkboxAll.classList.remove('disabled')
      }
      else{
        btn_checkboxAll.classList.add('disabled')
      }
   }
   btn_checkboxAll.onclick = function(e){
   e.preventDefault();
    var isSubmitable = !btn_checkboxAll.classList.contains('disabled');
    if(isSubmitable){
      container_form.submit();
    }
   }

  container_form.addEventListener('submit', function(e){
     var isSubmitable = !btn_checkboxAll.classList.contains('disabled');
    if(!isSubmitable){
      e.preventDefault();
    }
   })
  
</script>